* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock {
    display: flex;
    justify-content: center;
    align-items: center;

}
.clock .clock-time,
.clock .clock-ampm {
    font-size: 3rem;
}